:root {
    --cor-cinza: #121212;
    --cor-background: #000000;
    --cor-color: #b3b3b3;
    --cor-branco: #fff;
    --bg-icone:#131313;
    --cor-varpreto: #242424;
    --bg-seta: rgba(0, 0, 07);
    --fonte-principal: "DM Sans", sans-serif;
}